.plugin_coop_account .btn-account {
    background: #aaa url(../images/login.png) no-repeat 5px 5px;
    border-radius: 5px;
    padding: 5px;
    padding-left: 50px;
    height: 40px;
}

.plugin_coop_account .infos {
    border-left: 1px solid #fff;
    padding-left: 5px;
    height: 40px;
}

.plugin_coop_account .account-link {
    float: left;
    font-weight: bold;
}
.plugin_coop_account .account-infos {
    float: left;
    clear: left;
    font-size: 10px;
}