{% load i18n thumbnail %}

<h6>{% trans "News" %}</h6>
    {% for e in entries %}            
        <div class="plugin_coop_blog">
            <div class="bloc_title bloc_title_home">
                <h5 class="coop_blog_title"><a href="{{ blog_url }}p/{{ e.pk }}">{{ e.title }}</a></h5>
            </div>

            <p>
            {{ e.resume|truncatechars:100|safe }}

            </p>

        </div>
    {% endfor %}

<!--    <div class="plugin_coop_blog_footer">
        <h5 class="coop_blog_title"><a href="{{ blog_url }}">{% trans "See all news..." %}</a></h5>
    </div>-->