{% load i18n %}

<script type="text/javascript" src="/_tinymce/compressor/"></script>
<script type="text/javascript" src="{{ STATIC_URL }}themes/pes_auvergne/default/js/forms_utils.js"></script>


<div id="articles_top"></div>
<div id="articles" class="add_form">
    {% if mode = 'add' %}
        <h2 class="maj_title">{% trans "Add new article" %}</h2>
    {% else %}
        <h2 class="maj_title">{% trans "Modify article" %}</h2>
    {% endif %}

    <form action="{{ base_url }}" method="post" class="add_form" enctype="multipart/form-data">{% csrf_token %}

        <div class="bg_form">

            <div class="fieldWrapper">
                {{ form.title.errors }}
                {{ form.title.label_tag }}: {{ form.title }}
            </div>          
            <div class="fieldWrapper">
                {{ form.image.errors }}
                {{ form.image.label_tag }}: {{ form.image|safe }}
            </div>   
            <div class="fieldWrapper">
                {{ form.author.errors }}
                {{ form.author.label_tag }}: {{ form.author|safe }}
            </div>   
            <div class="fieldWrapper">
                {{ form.source.errors }}
                {{ form.source.label_tag }}: {{ form.source|safe }}
            </div> 
            <div class="fieldWrapper">
                {{ form.publication_date.errors }}
                {{ form.publication_date.label_tag }}: {{ form.publication_date|safe }}
            </div>   
            <div class="fieldWrapper">
                {{ form.creation_date.errors }}
                {{ form.creation_date.label_tag }}: {{ form.creation_date|safe }}
            </div>   
            <div class="fieldWrapper">
                {{ form.modification_date.errors }}
                {{ form.modification_date.label_tag }}: {{ form.modification_date|safe }}
            </div>   
            <div class="fieldWrapper">
                {{ form.resume.errors }}
                {{ form.resume.label_tag }}: {{ form.resume|safe }}
            </div>               
            <div class="fieldWrapper">
                {{ form.body.errors }}
                {{ form.body.label_tag }}: {{ form.body|safe }}
            </div>   
       
            <!-- Doc associés -->
            <h3 class="title_formset">{% trans "Documents" %}</h3>
            <div id="docs" class="fieldWrapper formset">
                {{ doc_form.management_form }}
                {% for d in doc_form.forms %}
                    <div class='table_formset table_doc'>
                        <table class='no_error'>
                            {{ d.as_table }}
                        </table>
                    </div>
                {% endfor %}
                <input type="button" value="{% trans 'Add More' %}" id="add_more_doc">
            </div>


            <div class="fieldWrapper">
                {{ form.activity.errors }}
                {{ form.activity.label_tag }}: {{ form.activity|safe }}
            </div>   
            <div class="fieldWrapper">
                {{ form.transverse_themes.errors }}
                {{ form.transverse_themes.label_tag }}: {{ form.transverse_themes|safe }}
            </div>   

            <!-- TODO: category ?             -->

            <div class="fieldWrapper">
                {{ form.tags.errors }}
                {{ form.tags.label_tag }}: {{ form.tags|safe }}
            </div>   

            <!-- TODO: site synchro             -->

            <div class="fieldWrapper">
                {{ form.docs.errors }}
                {{ form.docs.label_tag }}: {{ form.docs|safe }}
            </div>   

            <!-- TODO: comments             -->

            <div class="fieldWrapper">
                {{ form.status.errors }}
                {{ form.status.label_tag }}: {{ form.status|safe }}
            </div>   




            {{ form.errors }}
        </div>

        <div class="new_block" id="new_submit">
            {% if mode = 'add' %}
                <input type="submit" value="{% trans "Create" %}" />                
            {% else %}
                <input type="submit" value="{% trans "Modify" %}" />                
            {% endif %}
        </div>

    </form>
</div>


<script type="text/javascript">
    $(function() {
        $.datepicker.regional['fr'] = {
            closeText: 'Fermer',
            prevText: '&#x3c;Préc',
            nextText: 'Suiv&#x3e;',
            currentText: 'Courant',
            monthNames: ['Janvier','Février','Mars','Avril','Mai','Juin',
            'Juillet','Août','Septembre','Octobre','Novembre','Décembre'],
            monthNamesShort: ['Jan','Fév','Mar','Avr','Mai','Jun',
            'Jul','Aoû','Sep','Oct','Nov','Déc'],
            dayNames: ['Dimanche','Lundi','Mardi','Mercredi','Jeudi','Vendredi','Samedi'],
            dayNamesShort: ['Dim','Lun','Mar','Mer','Jeu','Ven','Sam'],
            dayNamesMin: ['Di','Lu','Ma','Me','Je','Ve','Sa'],
            weekHeader: 'Sm',
            dateFormat: 'dd/mm/yy',
            firstDay: 1,
            isRTL: false,
            showMonthAfterYear: false,
            yearSuffix: ''};
        $.datepicker.setDefaults($.datepicker.regional['fr']);

//         $('#id_date_creation').datepicker({dateFormat: 'yy-mm-dd', constrainInput: false});
        tinyMCE.init({selector:'textarea'});
        tinyMCE_GZ.init({"themes": "advanced", "languages": "fr", "debug": false, "diskcache": true, "plugins": "table,spellchecker,filemanager,paste,searchreplace,inlinepopups"})
                        
        $('#add_more_doc').click(function() {
            cloneMore('div.table_doc:last', 'doc');
        });
    });
</script>
