{% load i18n %}

<script type="text/javascript" src="/_tinymce/compressor/"></script>
<script type="text/javascript" src="{{ STATIC_URL }}themes/pes_auvergne/default/js/forms_utils.js"></script>

<!-- For tooltips -->
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.9.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.ui.tooltip.js"></script>



<div id="articles_top"></div>
<div id="articles" class="add_form">
    {% if mode = 'add' %}
        <h2 class="maj_title">{% trans "Add new article" %}</h2>
    {% else %}
        <h2 class="maj_title">{% trans "Modify article" %}</h2>
    {% endif %}

    <form action="{{ base_url }}" method="post" class="add_form" enctype="multipart/form-data">{% csrf_token %}

        <div class="bg_form">

            <div class="fieldWrapper">
                {{ form.title.errors }}
                {{ form.title.label_tag }}: {{ form.title }}
            </div>          
            <div class="fieldWrapper">
                {{ form.image.errors }}
                {{ form.image.label_tag }}: {{ form.image|safe }}
                <div class="help_text" title="{% trans 'This image will be the first visible' %}"></div>
            </div>   
<!--            <div class="fieldWrapper">
                {{ form.author.errors }}
                {{ form.author.label_tag }}: {{ form.author|safe }}
            </div>   -->
            <div class="fieldWrapper">
                {{ form.source.errors }}
                {{ form.source.label_tag }}: {{ form.source|safe }}
                <div class="help_text" title="{% trans 'Source site or first publication place' %}"></div>
            </div> 
            <div class="fieldWrapper">
                {{ form.publication_date.errors }}
                {{ form.publication_date.label_tag }}: {{ form.publication_date|safe }}
            </div>   
<!--            <div class="fieldWrapper">
                {{ form.creation_date.errors }}
                {{ form.creation_date.label_tag }}: {{ form.creation_date|safe }}
            </div>   
            <div class="fieldWrapper">
                {{ form.modification_date.errors }}
                {{ form.modification_date.label_tag }}: {{ form.modification_date|safe }}
            </div>   -->
            <div class="fieldWrapper">
                {{ form.resume.errors }}
                {{ form.resume.label_tag }}: {{ form.resume|safe }}
            </div>               
            <div class="fieldWrapper">
                {{ form.body.errors }}
                {{ form.body.label_tag }}: {{ form.body|safe }}
            </div>   
       
            <!-- Doc associés -->
            <h3 class="title_formset">{% trans "Documents" %}</h3>
            <div id="docs" class="fieldWrapper formset">
                {{ doc_form.management_form }}
                {% for d in doc_form.forms %}
                    <div class='table_formset table_doc'>
                        <table class='no_error'>
                            {{ d.as_table }}
                        </table>
                    </div>
                {% endfor %}
                <input type="button" value="{% trans 'Add More' %}" id="add_more_doc">
                <div class="help_text" title="{% trans 'Click the button to add more documents' %}"></div>
            </div>


            <div class="fieldWrapper">
                {{ form.activity.errors }}
                {{ form.activity.label_tag }}: {{ form.activity|safe }}
            </div>   
            <div class="fieldWrapper">
                {{ form.transverse_themes.errors }}
                {{ form.transverse_themes.label_tag }}: {{ form.transverse_themes|safe }}
                <div class="help_text" title="{% trans 'You may choose multiple value by pressing the CTRL key' %}"></div>
            </div>   

            <!-- TODO: category ?             -->

            <div class="fieldWrapper">
                {{ form.tags.errors }}
                {{ form.tags.label_tag }}: {{ form.tags|safe }}
                <div class="help_text" title="{% trans 'To facilitate research' %}"></div>
            </div>   

            <!-- TODO: site synchro             -->

            <!-- TODO: comments             -->

            <div class="fieldWrapper">
                {{ form.status.errors }}
                {{ form.status.label_tag }}: {{ form.status|safe }}
            </div>   




            {{ form.errors }}
        </div>


        {% if mode = 'add' %}
            <div class="new_block" id="new_submit">
                <input type="submit" value="{% trans "Create" %}" />                
            </div>
        {% else %}
            <div class="new_block" id="modify_submit">
                <input type="submit" value="{% trans "Modify" %}" />                
                <input type="button" value="{% trans "Delete" %}" onclick="delete_object('{% trans 'Are you sure you want to delete this article ?' %}', '{{ delete_url }}')" />                
            </div>
        {% endif %}          


    </form>
</div>


<script type="text/javascript">
    $(function() {
        $.datepicker.regional['fr'] = {
            closeText: 'Fermer',
            prevText: '&#x3c;Préc',
            nextText: 'Suiv&#x3e;',
            currentText: 'Courant',
            monthNames: ['Janvier','Février','Mars','Avril','Mai','Juin',
            'Juillet','Août','Septembre','Octobre','Novembre','Décembre'],
            monthNamesShort: ['Jan','Fév','Mar','Avr','Mai','Jun',
            'Jul','Aoû','Sep','Oct','Nov','Déc'],
            dayNames: ['Dimanche','Lundi','Mardi','Mercredi','Jeudi','Vendredi','Samedi'],
            dayNamesShort: ['Dim','Lun','Mar','Mer','Jeu','Ven','Sam'],
            dayNamesMin: ['Di','Lu','Ma','Me','Je','Ve','Sa'],
            weekHeader: 'Sm',
            dateFormat: 'dd/mm/yy',
            firstDay: 1,
            isRTL: false,
            showMonthAfterYear: false,
            yearSuffix: ''};
        $.datepicker.setDefaults($.datepicker.regional['fr']);

//         $('#id_date_creation').datepicker({dateFormat: 'yy-mm-dd', constrainInput: false});
        tinyMCE.init({selector:'textarea'});
        tinyMCE_GZ.init({"themes": "advanced", "languages": "fr", "debug": false, "diskcache": true, "plugins": "table,spellchecker,filemanager,paste,searchreplace,inlinepopups"})
                        
        $('#add_more_doc').click(function() {
            cloneMore('div.table_doc:last', 'doc');
        });

        $(".help_text").tooltip();
    });
</script>
