{% load i18n %}

<div id="articles_top"></div>
<div id="articles">
    <div class="bloc_title">
        {% if e.image != '' %}
            <div class="logo logo_pes"><img src="{{ media_path }}{{ e.image }}" alt=""></div>
        {% else %}
            <div class="logo"></div>
        {% endif %}

        <div class="header">
            <h3 class="article_title">{{ e.title }}</h3>
            <p>{{ e.resume }}</p>
            <span class="article_by">{{ e.author }}</span><br/>
            <span class="article_date">{{ e.publication_date|date:"d/m/Y @ H:i" }}</span><br/>
            <span class="article_source">{{ e.source }}</span><br/>

            <div id="links">
                <a class="facebook" href=""></a>
                <a class="twitter" href=""></a>
                <a class="google_plus" href=""></a>
                <a class="plus" href=""></a>
                <a class="links" href=""></a>
                <a class="print" href=""></a>
            </div>
        </div>

        <span class="article_modification">{{ e.modification|date:"d/m/Y @ H:i" }}</span><br/>

    
    <div class="bloc_content">
        {{ e.body|safe }}
    </div>
    
    {% if imgs %}
        <div class="bloc_content bloc_content_border">
            <h3>{% trans "Galery" %}</h3>
            
            {% for d in imgs %}
                <div class="fake_img">
                    <img src="{{ media_path }}{{ d.attachment }}" alt='{{ d.name }}' />
                </div>
            {% endfor %}
        </div>
    {% endif %}

    

    <div class="bloc_content bloc_content_borderless">
        <div class="article_content_activity content_border_grey">
            <h3>{% trans "Activity" %}</h3>
            {{ e.activity }}
        </div>
            
        <div class="article_content_thematic content_border_grey">
            <h3>{% trans "Thematic" %}</h3>
            {% for t in e.transverse_themes.all %}
                {{ t }} <br/>
            {% endfor %}
        </div>

        <div class="article_content_keywords content_border_grey">
            <h3 class="article_link">{% trans "Keywords" %}</h3>
            {{ e.tags.all|join:", " }}
        </div>

    </div>


    <div class="bloc_content bloc_content_borderless">
        <div class="bloc_content_col1">
            {% if docs %}
                <h3><a href="javascript:show_infos('#documents');">{% trans "Documents associated" %}</a></h3>
            {% endif %}
            {% if e.linked_articles.exists %}
                <h3><a href="javascript:show_infos('#articles_associated');">{% trans "Articles of the same author" %}</a></h3>
            {% endif %}
        </div>
        <div class="bloc_content_col2">

            <div id="articles_associated">
                <h3>{% trans "Articles of the same author" %}</h3>
            </div>

            <div id="documents">
                <h3>{% trans "Documents associated" %}</h3>
                    <ul>
                    {% for d in docs %}
                        <li><a href="{{ media_path }}{{ d.attachment }}" alt='{{ d.name }}'>{{ d.name }}</a></li>
                    {% endfor %}
                    </ul>            
            </div>

        </div>
        
    </div>

</div>

    {% if request.user.is_superuser %}
        <span class="edit edit_inline"><a class="" href="{{ base_url }}entry_edit/{{ e.pk }}">{% trans "Edit" %}</a></span>
    {% endif %}



</div>

<script type="text/javascript">
    $(document).ready(function() {

        hide_complement();
    });

    function hide_complement() {
         $('#articles_associated').addClass("detail_form_hide");
         $('#documents').addClass("detail_form_hide");
    }

   function show_infos(id_div) {
        hide_complement();
        $(id_div).removeClass("detail_form_hide");
   }


</script>