{% load i18n %}
{% load rights_entry %}

{% block extra_head %}
    <link rel="stylesheet" href="{{ STATIC_URL }}admintools_bootstrap/css/custom-theme/jquery-ui-1.8.16.custom.css" />

{% if print_css == 1 %}
    <link rel="stylesheet" href="{{ STATIC_URL }}themes/pes_auvergne/default/css/print.css" />
{% endif %}

    <script type="text/javascript" src="{{ STATIC_URL }}themes/pes_auvergne/default/js/jquery.carouFredSel-6.2.1-packed.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}themes/pes_auvergne/default/js/forms_utils.js"></script>

    <script type="text/javascript" language="javascript" src="{{ STATIC_URL }}themes/pes_auvergne/default/js/helper-plugins/jquery.mousewheel.min.js"></script>
    <script type="text/javascript" language="javascript" src="{{ STATIC_URL }}themes/pes_auvergne/default/js/helper-plugins/jquery.touchSwipe.min.js"></script>
    <script type="text/javascript" language="javascript" src="{{ STATIC_URL }}themes/pes_auvergne/default/js/helper-plugins/jquery.transit.min.js"></script>
    <script type="text/javascript" language="javascript" src="{{ STATIC_URL }}themes/pes_auvergne/default/js/helper-plugins/jquery.ba-throttle-debounce.min.js"></script>

{% endblock %}

<div id="articles_top"></div>
<div id="articles">
    <div class="bloc_title">
        {% if e.image != '' %}
            <div class="logo"><img src="{{ media_path }}{{ e.image }}" alt=""></div>
        {% else %}
            <div class="logo logo_pes"></div>
        {% endif %}

        <div class="header">
            <div id="column1">
                <h3 class="article_title">{{ e.title }}</h3>
                <p>{{ e.resume }}</p>

                <div id="links">
                    <a class="facebook" target="_blank" href="http://www.facebook.com/sharer/sharer.php?u=#{{ request.build_absolute_uri }}"></a>
                    <a class="twitter" href="https://twitter.com/share?url={{ request.build_absolute_uri }}" target="_blank"></a>
                    <a class="google_plus"  target="_blank" href="https://plus.google.com/share?url={{ request.build_absolute_uri }}"></a>
                    <a class="links" href="javascript:open_popup_link('#dialog-link');"></a>
                    <div id="dialog-link" title="{% trans 'Send to friend' %}">
                        <input type="text" id="mail_to_friend" value="">
                        <input type="button" onclick="javascript:send_to_friend('{{ request.build_absolute_uri }}','mail_to_friend','send_to_content');" value="{% trans 'Send' %}">
                        <div id="send_to_content" class="highlight_gen"></div>
                    </div>
                    <a class="print" target="_blank" href="{{ base_url }}{{ e.pk }}?mode=print"></a>
                </div>

            </div>
            <div id="column2">
                <br/>
                {% trans 'Publish by' %} : <span class="article_by">{{ e.author }}</span><br/>
                {% trans 'Initial publication' %} : <span class="article_date">{{ e.publication_date|date:"d/m/Y @ H:i" }}</span><br/>
                <span class="articles_link">{% trans 'Source' %}</span> : <span class="article_source">{{ e.source }}</span><br/>
                <br/>
                <div id="last_modification">
                    {% trans 'Last modification' %} : <br/><span class="article_date">{{ e.modification_date|date:"d/m/Y @ H:i" }}</span><br/>
                </div>

            </div>

        </div>

        <span class="article_modification">{{ e.modification|date:"d/m/Y @ H:i" }}</span><br/>

    <br/><br/>
    </div>

    <div class="bloc_content">
        <div id="description_short">{{ e.body|safe|truncatewords_html:150 }}</div>
        <div id="description_full">
                {{ e.body|safe }}
        </div>
        <span class="readmore"><a class="articles_link" href="javascript:read_more();" id="read_more">{% trans "Read more" %}</a></span>
    </div>
    
    {% if imgs %}
        <div class="bloc_content bloc_content_border">
            <h3>{% trans "Galery" %}</h3>

                <div class="list_carousel">
                    <ul id="carousel">
                        {% for d in imgs %}
                            <li>
                                <a href="{{ media_path }}{{ d.attachment }}"><img src="{{ media_path }}{{ d.attachment }}" alt='{{ d.name }}' height="100px" /></a>
                            </li>
                        {% endfor %}

                    </ul>
                    <div class="clearfix"></div>
                    <a id="prev2" class="prev" href="#"></a>
                    <a id="next2" class="next" href="#"></a>
                    <div id="pager2" class="pager"></div>
                </div>
        </div>
    {% endif %}    

    <div class="bloc_content bloc_content_borderless">
        {% if e.activity %}
            <div class="article_content_activity content_border_grey">
                <h3>{% trans "Activity" %}</h3>
                {{ e.activity }}
            </div>
        {% endif %}
            
        {% if e.transverse_themes.all %}
            <div class="article_content_thematic content_border_grey">
                <h3>{% trans "Thematic" %}</h3>
                {% for t in e.transverse_themes.all %}
                    {{ t }} <br/>
                {% endfor %}
            </div>
        {% endif %}

        {% if e.tags.all %}
            <div class="article_content_keywords content_border_grey">
                <h3 class="">{% trans "Keywords" %}<a href="javascript:keywords_show_complement()" class="articles_link">+</a></h3>
                <div id="keywords_short">{{ e.tags.all|join:", "|truncatechars:100 }}</div>
                <div id="keywords_long">{{ e.tags.all|join:", " }}</div>
            </div>
        {% endif %}

    </div>


    <div class="bloc_content bloc_content_borderless">
        <div class="bloc_content_col1">
            {% if docs %}
                <h3 id="menu_documents"><a href="javascript:show_infos('documents');">{% trans "Documents associated" %}<div class="menu_selected_arrow"></div></a></h3>
            {% endif %}

            {% if more_articles %}
                <h3 id="menu_articles_associated"><a href="javascript:show_infos('articles_associated');">{% trans "Articles of the same author" %}<div class="menu_selected_arrow"></div></a></h3>
            {% endif %}

        </div>
        <div class="bloc_content_col2">

            <div id="articles_associated">
                <h3>{% trans "Articles of the same author" %}</h3>
                <ul>
                {% for m in more_articles %}
                    <li><a href="{{ base_url }}{{ m.pk }}" class="articles_link">{{ m.title }}</a></li>
                {% endfor %}
                </ul>
            </div>

            <div id="documents">
                <h3>{% trans "Documents associated" %}</h3>
                    <ul>
                    {% for d in docs %}
                        <li><a href="{{ media_path }}{{ d.attachment }}" alt='{{ d.name }}'>{{ d.name }}</a></li>
                    {% endfor %}
                    </ul>            
            </div>

        </div>
        
    </div>



    {% if request.user.is_superuser or entry|tag_rights_entry:request %}
        <span class="edit edit_inline"><a class="" href="{{ base_url }}entry_edit/{{ e.pk }}">{% trans "Edit" %}</a></span>
    {% endif %}



</div>

<script type="text/javascript">
    $(document).ready(function() {
        {% if print_css != 1 %}
            $('#description_full').addClass("detail_form_hide");
            hide_complement();
            keywords_hide_complement();
        {% else %}
            $('#description_short').addClass("detail_form_hide");
        {% endif %}

        $('#carousel').carouFredSel({
            items: 2,
            auto: false,
            prev: '#prev2',
            next: '#next2',
            pagination: "#pager2",
            mousewheel: true,
            swipe: {
                onMouse: true,
                onTouch: true
            }
        });

        $('#carousel a').fancybox({ 'hideOnContentClick': false,'zoomSpeedIn': 300, 'zoomSpeedOut': 300, 'overlayShow': true });

        {% if print_css != 1 %}        
            {% if docs %}
                show_infos('documents');
            {% endif %}
        {% endif %}

        // Check if we have to hide read more or not
        if($('#description_short') && $('#description_full')) {
            if($.trim($('#description_short').text()) == $.trim($('#description_full').text())) {
                $('#read_more').addClass("detail_form_hide");  
            }
        }


    });

    function read_more() {
        $('#description_full').removeClass("detail_form_hide");
        $('#description_short').addClass("detail_form_hide");
        $('#read_more').addClass("detail_form_hide");        
    }

    function keywords_hide_complement() {
        $('#keywords_long').addClass("detail_form_hide");
        $('#dialog-link').addClass("detail_form_hide");
    }

    function keywords_show_complement() {
        $('#keywords_long').removeClass("detail_form_hide");
        $('#keywords_short').addClass("detail_form_hide");
    }

    function hide_complement() {
         $('#articles_associated').addClass("detail_form_hide");
         $('#documents').addClass("detail_form_hide");

        $('#menu_documents').removeClass("menu_selected");
        $('#menu_articles_associated').removeClass("menu_selected");
    }

   function show_infos(id_div) {
        hide_complement();
        $("#" + id_div).removeClass("detail_form_hide");
        $("#menu_" + id_div).addClass("menu_selected");
   }


</script>