{% load i18n %}

{% block extra_head %}
    <link rel="stylesheet" href="http://leaflet.cloudmade.com/dist/leaflet.css" />
{% endblock %}

<script type="text/javascript" src="{{ STATIC_URL }}themes/pes_auvergne/default/js/forms_utils.js"></script>

<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/OpenLayers.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/gis/OpenStreetMap.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/MapWidget.js"></script>


<div id="agenda_top"></div>
<div id="coop_agenda" class="add_form">
    
    {% if mode = 'add' %}
        <h2 class="maj_title">{% trans "Add new event" %}</h2>
    {% else %}
        <h2 class="maj_title">{% trans "Modify event" %}</h2>
    {% endif %}

    <form action="{{ base_url }}" method="post" class="add_form" enctype="multipart/form-data">{% csrf_token %}

        <div class="bg_form">

            <div class="fieldWrapper">
                {{ form.title.errors }}
                {{ form.title.label_tag }}: {{ form.title }}
            </div>
            <div class="fieldWrapper">
                {{ form.organization.errors }}
                {{ form.organization.label_tag }}: {{ form.organization }}
            </div>
            <!-- TODO: poste par           -->
    
            <div class="fieldWrapper">
                {{ form.organizations.errors }}
                {{ form.organizations.label_tag }}: {{ form.organizations }}
            </div>

            <div class="fieldWrapper">
                {{ form.image.errors }}
                {{ form.image.label_tag }}: {{ form.image }}
            </div>

            <div class="fieldWrapper">
                {{ form.description.errors }}
                {{ form.description.label_tag }}: {{ form.description }}
            </div>

            <div class="fieldWrapper">
                {{ occ_form.start_time.errors }}
                {{ occ_form.start_time.label_tag }}: {{ occ_form.start_time }}
            </div>
            <div class="fieldWrapper">
                {{ occ_form.end_time.errors }}
                {{ occ_form.end_time.label_tag }}: {{ occ_form.end_time }}
            </div>

            <h3 class="title_formset">{% trans "Locations" %}</h3>
            <div id="label" class="fieldWrapper">
                {{ form.label.errors }}
                {{ form.label.label_tag }}: {{ form.label }}
            </div>
            <div id="address" class="fieldWrapper">
                {{ form.address.errors }}
                {{ form.address.label_tag }}: {{ form.address }}
            </div>
            <div id="city" class="fieldWrapper">
                {{ form.city.errors }}
                {{ form.city.label_tag }}: {{ form.city }}
            </div>
            <div id="zipcode" class="fieldWrapper">
                {{ form.zipcode.errors }}
                {{ form.zipcode.label_tag }}: {{ form.zipcode }}
            </div>
            <div id="point" class="fieldWrapper">
                {{ form.point.errors }}
                {{ form.point.label_tag }}: {{ form.point }}
            </div>


            <div class="fieldWrapper">
                {{ form.category.errors }}
                {{ form.category.label_tag }}: {{ form.category }}
            </div>

            <!-- Doc associés -->
            <h3 class="title_formset">{% trans "Documents" %}</h3>
            <div id="docs" class="fieldWrapper formset">
                {{ doc_form.management_form }}
                {% for d in doc_form.forms %}
                    <div class='table_formset table_doc'>
                        <table class='no_error'>
                            {{ d.as_table }}
                        </table>
                    </div>
                {% endfor %}
                <input type="button" value="{% trans 'Add More' %}" id="add_more_doc">
            </div>


            <!-- TODO: partners           -->

            <div class="fieldWrapper">
                {{ form.activity.errors }}
                {{ form.activity.label_tag }}: {{ form.activity|safe }}
            </div>   
            <div class="fieldWrapper">
                {{ form.transverse_themes.errors }}
                {{ form.transverse_themes.label_tag }}: {{ form.transverse_themes|safe }}
            </div>   

            <!-- TODO: articles associated             -->

            <!-- TODO: exchanges associated             -->

            <div class="fieldWrapper">
                {{ form.tags.errors }}
                {{ form.tags.label_tag }}: {{ form.tags|safe }}
            </div>   

            <!-- TODO: comments             -->

            <div class="fieldWrapper">
                {{ form.active.errors }}
                {{ form.active.label_tag }}: {{ form.active|safe }}
            </div>   

<!--            <div class="fieldWrapper">
                {{ form.location.errors }}
                {{ form.location.label_tag }}: {{ form.location }}
            </div>

            <div class="fieldWrapper">
                {{ form.event_type.errors }}
                {{ form.event_type.label_tag }}: {{ form.event_type }}
            </div>
            <div class="fieldWrapper">
                {{ form.calendar.errors }}
                {{ form.calendar.label_tag }}: {{ form.calendar }}
            </div>-->
            

    


            {{ form.errors }}
            {{ occ_form.errors }}
        </div>

        <div class="new_block" id="new_submit">
            {% if mode = 'add' %}
                <input type="submit" value="{% trans "Create" %}" />                
            {% else %}
                <input type="submit" value="{% trans "Modify" %}" />                
            {% endif %}          
        </div>

    </form>
</div>


<script type="text/javascript">
    $(function() {
        $.datepicker.regional['fr'] = {
            closeText: 'Fermer',
            prevText: '&#x3c;Préc',
            nextText: 'Suiv&#x3e;',
            currentText: 'Courant',
            monthNames: ['Janvier','Février','Mars','Avril','Mai','Juin',
            'Juillet','Août','Septembre','Octobre','Novembre','Décembre'],
            monthNamesShort: ['Jan','Fév','Mar','Avr','Mai','Jun',
            'Jul','Aoû','Sep','Oct','Nov','Déc'],
            dayNames: ['Dimanche','Lundi','Mardi','Mercredi','Jeudi','Vendredi','Samedi'],
            dayNamesShort: ['Dim','Lun','Mar','Mer','Jeu','Ven','Sam'],
            dayNamesMin: ['Di','Lu','Ma','Me','Je','Ve','Sa'],
            weekHeader: 'Sm',
            dateFormat: 'dd/mm/yy',
            firstDay: 1,
            isRTL: false,
            showMonthAfterYear: false,
            yearSuffix: ''};
        $.datepicker.setDefaults($.datepicker.regional['fr']);

        $('#id_date_creation').datepicker({dateFormat: 'yy-mm-dd', constrainInput: false});
        $('#id_date_validity').datepicker({dateFormat: 'yy-mm-dd', constrainInput: false});
        $('#id_date_start').datepicker({dateFormat: 'yy-mm-dd', constrainInput: false});
        $('#id_date_end').datepicker({dateFormat: 'yy-mm-dd', constrainInput: false});

        $('#add_more_doc').click(function() {
            cloneMore('div.table_doc:last', 'doc');
        });

        $('#add_more_located').click(function() {
            cloneMore('div.table_located:last', 'located');
        });

    });
</script>
