{% load i18n %}

<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}admintools_bootstrap/css/custom-theme/jquery-ui-1.8.16.custom.css" />

    
    {% if mode = 'carto' %}
        <form action="{{ base_url }}p/carto" method="post" id="search_form">{% csrf_token %}
    {% else %}
        <form action="{{ base_url }}" method="post" id="search_form">{% csrf_token %}
    {% endif %}

        <div class="search_column" id="search_column1">
            <div class="search_block" id="activity">
                <span class="search_title">{% trans "Activity" %}</span>
                {{ form.activity }}
            </div>
            <div class="search_block" id="activity2">
                {{ form.activity2 }}
            </div>
            <div class="search_block" id="thematic">
                <span class="search_title">{% trans "Thematic" %}</span>
                {{ form.thematic }}
            </div>
            <div class="search_block" id="thematic2">
                {{ form.thematic2 }}
            </div>

            <div class="search_block" id="free_search">
                <span class="search_title">{% trans "Free search" %}</span>
                {{ form.free_search }}
            </div>
        </div>
        <div class="search_column" id="search_column2">
            <div class="search_block" id="type">
                <span class="search_title">{% trans "Type" %}</span>
                {{ form.type }}
            </div>
            <div class="search_block" id="thematic">
                <span class="search_title">{% trans "Start date" %}</span>
                {{ form.start_date }}
            </div>
            <div class="search_block" id="thematic">
                <span class="search_title">{% trans "End date" %}</span>
                {{ form.end_date }}
            </div>
        </div>
        <div class="search_column" id="search_column3">
            <div class="search_block" id="location">
                <span class="search_title">{% trans "Location" %}</span>
                {{ form.location }}
                {{ form.location_id.as_hidden }}
            </div>
            <div class="search_block" id="location">
                <span class="search_title">{% trans "Location buffer" %}</span>
                {{ form.location_buffer }}
            </div>
            <div class="search_block" id="organization">
                <span class="search_title">{% trans "Organization" %}</span>
                {{ form.organization }}
            </div>

        </div>

        <div class="search_column" id="search_column4">
        </div>

        <div id="search_bottom">
            <div class="search_block" id="search_submit">
                <input type="submit" value="{% trans "Search" %}" />
            </div>
        </div>
    </form>
