{% load i18n %}


<script type="text/javascript">
    $('#main-content').addClass("search_form_enabled_territory");
</script>

<div id="territory_top_search"></div>
<div id="search_form">
    {% include search_form_template %}
</div>


<div id="territory_top"></div>
<div id="result_territory">

<div class="territory_pagination_top pagination_top pagination">
    {% include "page_coop_territory/pagination.html" %}
<!--     <div class="carto"><a href="javascript:submitForm('{{ base_url }}p/carto')">{% trans "Cartography" %}</a></div> -->
</div>


{% for item in items %}

    {% if item.type == 'exchange' %}
        <div class="coop_exchange">
            <div class="bloc_title">
                {% if item.obj.img  %}
                    <div class="logo"><a class="exchange_link" href="{{ exchanges_url }}p/{{ item.obj.pk }}"><img src="{{ media_path }}{{ item.obj.img }}" alt="{{ item.obj.title }}"></a></div>
                {% else %}
                    <div class="logo logo_pes"></div>
                {% endif %}

                <div class="resume">
                    {% if item.obj.location == None %} {% else %} <span class="location">{{ item.obj.location|truncatechars:20 }}</span> {% endif %}
                    <div class="exchange_type">{% trans "Type" %} : {{ item.obj.get_eway_display }}</div>
                    <a href="{{ exchanges_url }}p/{{ item.obj.pk }}"><h3 class="exchange_title resume_title">{{ item.obj.title }}</h3></a>
                    <div class="exchange_desc">{{ item.obj.description|safe|truncatechars:150 }}</div>
                    <span class="readmore"><a class="exchange_link" href="{{ exchanges_url }}p/{{ item.obj.pk }}">{% trans "Read more" %}</a></span>
                </div>
            </div>
        </div>
    {% endif %}

    {% if item.type == 'occ' %}
        <div class="coop_agenda">
            <div class="bloc_title">
                {% if item.obj.event.image != '' %}
                    <div class="logo"><a class="agenda_link" href="{{ agenda_url }}p/{{ item.obj.event.pk }}"><img src="{{ media_path }}{{ item.obj.event.image }}" alt=""></a></div>
                {% else %}
                    <div class="logo logo_pes"></div>
                {% endif %}

                <div class="resume">
                    {% if item.obj.event.location == None %} {% else %} <span class="location">{{ item.obj.event.location|truncatechars:20 }}</span> {% endif %}
                    <ul class="date">
                        <li>
                            <span class="date_from">{{ item.obj.start_time|date:"j" }} {{ item.obj.start_time|date:"M"|lower }} {{ item.obj.start_time|date:"Y"|lower }}</span>
                            {% if  item.obj.start_time.date != item.obj.end_time.date %}
                                <span class="date_to">{% trans "to" %}</span>
                            <span class="date_from">{{ item.obj.end_time|date:"j" }} {{ item.obj.end_time|date:"M"|lower }} {{ item.obj.end_time|date:"Y"|lower }}</span>
                            {% endif %}
                        </li>
                    </ul>

                    <a href="{{ agenda_url }}p/{{ item.obj.event.pk }}"><h3 class="coop_agenda_title resume_title">{{ item.obj.event.title }}</h3></a>


                    <div class="description">
                        {{ item.obj.event.description|truncatechars:150|safe }}
                    </div>
                    <span class="readmore"><a class="agenda_link" href="{{ agenda_url }}p/{{ item.obj.event.pk }}">{% trans "Read more" %}</a></span>

                </div>
            </div>
        </div>
    {% endif %}


    {% if item.type == 'service' %}
        <div class="coop_service coop_territory">
            <div class="bloc_title">
                <div class="logo logo_pes"></div>
                <div class="resume">
                    <a href="{{ organizations_url }}p/{{ item.obj.provider.pk }}"><h3 class="service_title resume_title">{{ item.obj.title }}</h3></a>
                    <div class="service_desc">{{ item.obj.description|safe|truncatechars:150 }}</div>
                    <span class="readmore"><a class="service_link" href="{{ organizations_url }}p/{{ item.obj.provider.pk }}">{% trans "Read more" %}</a></span>
                </div>
            </div>
        </div>
    {% endif %}

    {% if item.type == 'organization' %}
        <div class="bloc_title coop_territory">

            {% if item.obj.logo != '' %}
                <div class="logo"><a class="member_link" href="{{ organizations_url }}p/{{ item.obj.pk }}"><img src="{{ media_path }}{{ item.obj.logo }}" alt=""></a></div>
            {% else %}
                <a href="{{ organizations_url }}p/{{ item.obj.pk }}"><div class="logo logo_pes_organization"></div></a>
            {% endif %}

            <div class="resume">
                {% if item.obj.located == None %}{% else %} 
                    <span class="location location_member">
                        {{ item.obj.main_location_label }}
                    </span> 
                {% endif %}

                {% if direct_link %}
                    <a href="{{ item.obj.web|safe }}"><h3 class="member_title resume_title">{{ item.obj.title }}</h3></a>
                {% else %}
                    <a href="{{ organizations_url }}p/{{ item.obj.pk }}"><h3 class="member_title resume_title">{{ item.obj.title }}</h3></a>
                {% endif %}

                <div class="member_subtitle">{% if item.obj.activity %} {{ item.obj.activity }} {% endif %}</div>

                <span class="">{{ item.obj.short_description }}</span>

                <span class="readmore"><a class="member_link" href="{{ organizations_url }}p/{{ item.obj.pk }}">{% trans "Read more" %}</a></span>
            </div>
        </div>
    {% endif %}
    {% if item.type == 'project' %}
        <div class="bloc_title coop_territory">

            {% if item.obj.logo != '' %}
                <div class="logo"><a class="projects_link" href="{{ projects_url }}p/{{ item.obj.pk }}"><img src="{{ media_path }}{{ item.obj.logo }}" alt=""></a></div>
            {% else %}
                <a href="{{ projects_url }}p/{{ item.obj.pk }}"><div class="logo logo_pes logo_pes_project"></div></a>
            {% endif %}

            <div class="resume">
                {% if item.obj.located == None %}{% else %} 
                    <span class="location location_project">
                        {{ item.obj.main_location_label }}
                    </span> 
                {% endif %}

                {% if direct_link %}
                    <a href="{{ item.obj.web|safe }}"><h3 class="member_title resume_title">{{ item.obj.title }}</h3></a>
                {% else %}
                    <a href="{{ projects_url }}p/{{ item.obj.pk }}"><h3 class="member_title resume_title">{{ item.obj.title }}</h3></a>
                {% endif %}

                <div class="member_subtitle">{% if item.obj.activity %} {{ item.obj.activity }} {% endif %}</div>

                <span class="">{{ item.obj.short_description }}</span>

                <span class="readmore"><a class="projects_link" href="{{ projects_url }}p/{{ item.obj.pk }}">{% trans "Read more" %}</a></span>
            </div>
        </div>
    {% endif %}



{% endfor %}


<div class="territory_pagination_bottom pagination_bottom pagination">
    {% include "page_coop_territory/pagination.html" %}
</div>
</div>


<script type="text/javascript">
    $(document).ready(function() {
        $("#id_location").autocomplete({
            source: function( request, response ) {
                var matches = $.map( {{ available_locations|safe }}, function(tag, i) {
                    if ( tag.label.toUpperCase().indexOf(request.term.toUpperCase()) === 0 ) {
                        return tag;
                    }
                });
                response(matches);
            },
            select: function(e, ui) {
                e.preventDefault() // <--- Prevent the value from being inserted.
                $("#id_location_id").val(ui.item.value);

                $(this).val(ui.item.label);
            }
        });

        $("#id_free_search").autocomplete({
            source: function( request, response ) {
                var matches = $.map( {{ available_data|safe }}, function(tag, i) {
                    if ( tag.label.toUpperCase().indexOf(request.term.toUpperCase()) === 0 ) {
                        return tag;
                    }
                });
                response(matches);
            },
            select: function(e, ui) {
                e.preventDefault()
                $("#id_free_search_id").val(ui.item.value);
                $(this).val(ui.item.label);
            }
        });
    });

    function submitForm(url) {
        document.forms["search-form"].action = url;
        document.forms["search-form"].submit();
    }

</script>



