{% load i18n %}

{% block extra_head %}
    <link rel="stylesheet" href="http://leaflet.cloudmade.com/dist/leaflet.css" />
{% endblock %}

<div id="exchanges_top"></div>
<div id="result_exchanges">
    <h1>{% trans "Add new exchange" %}</h1>
    <form action="{{ base_url }}" method="post">{% csrf_token %}
        <div class="new_block" id="looking_for">
            {{ form.type_exchange }}
        </div>
        <div class="new_block" id="type">
            <span class="form_label">{% trans "Type" %}</span>
            {{ form.type }}
        </div>

        <div class="new_block">
            <span class="form_label">{% trans "Date of creation" %}</span>
            {{ form.date_creation }}
        </div>
        <div class="new_block">
            <span class="form_label">{% trans "Date of validity" %}</span>
            {{ form.date_validity }}
        </div>
        <div class="new_block">
            <span class="form_label">{% trans "Organization" %}</span>
            {{ form.organization }}
        </div>
        <div class="new_block">
            <span class="form_label">{% trans "Organization person" %}</span>
            {{ form.organizatiokn_person }}
        </div>
        <div class="new_block">
            <span class="form_label">{% trans "Title" %}</span>
            {{ form.title }}
        </div>
        <div class="new_block">
            <span class="form_label">{% trans "Mode" %}</span>
            {{ form.mode }}
        </div>
        <div class="new_block">
            <span class="form_label">{% trans "Skills" %}</span>
            {{ form.skills }}
        </div>
        <div class="new_block">
            <span class="form_label">{% trans "Date start" %}</span>
            {{ form.date_start }} 
        </div>
        <div class="new_block">
            <span class="form_label">{% trans "Date end" %}</span>
            {{ form.date_end }} 
        </div>
        <div class="new_block">
            <span class="form_label">{% trans "Department" %}</span>
            {{ form.location_dep }} 
        </div>
        <div class="new_block">
            <span class="form_label">{% trans "City" %}</span>
            {{ form.location_city }} 
        </div>
        <div class="new_block">
            <span class="form_label">{% trans "Address" %}</span>
            {{ form.location_other }} 
        </div>
        <div class="new_block">
            <span class="form_label">{% trans "zone" %}</span>
            {{ form.location_zone }} 
        </div>
        <div class="new_block">
            <span class="form_label">{% trans "Description" %}</span>            
            {{ form.description }} 
        </div>
        <div class="new_block">
            <span class="form_label">{% trans "Thematic" %}</span>
            {{ form.thematic }}
        </div>
        <div class="new_block">
            <span class="form_label">{% trans "Activity" %}</span>
            {{ form.activity }} 
        </div>
        <div class="new_block">
            <span class="form_label">{% trans "Keywords" %}</span>            
            {{ form.key_words }} 
        </div>
        <div class="new_block">
            <span class="form_label">{% trans "Media" %}</span>            
            {{ form.media }} 
        </div>

        <div id="leaflet_map"></div>
        <script src="http://leaflet.cloudmade.com/dist/leaflet.js"></script>
        <script type="text/javascript">

            var cloudmadeUrl = 'http://{s}.tile.cloudmade.com/BC9A493B41014CAABB98F0471D759707/997/256/{z}/{x}/{y}.png',
                cloudmadeAttribution = 'Map data &copy; 2011 OpenStreetMap contributors, Imagery &copy; 2011 CloudMade',
                cloudmade = new L.TileLayer(cloudmadeUrl, {maxZoom: 18, attribution: cloudmadeAttribution});

            var centre = new L.LatLng({{ center.y }}, {{ center.x }});
            var map = new L.Map('leaflet_map');
            map.setView(centre, 8).addLayer(cloudmade);

        </script>


        <div class="new_block" id="new_submit">
            <input type="submit" value="{% trans "Create" %}" />                
        </div>

    </form>
</div>


<script type="text/javascript">
    $(function() {
        $.datepicker.regional['fr'] = {
            closeText: 'Fermer',
            prevText: '&#x3c;Préc',
            nextText: 'Suiv&#x3e;',
            currentText: 'Courant',
            monthNames: ['Janvier','Février','Mars','Avril','Mai','Juin',
            'Juillet','Août','Septembre','Octobre','Novembre','Décembre'],
            monthNamesShort: ['Jan','Fév','Mar','Avr','Mai','Jun',
            'Jul','Aoû','Sep','Oct','Nov','Déc'],
            dayNames: ['Dimanche','Lundi','Mardi','Mercredi','Jeudi','Vendredi','Samedi'],
            dayNamesShort: ['Dim','Lun','Mar','Mer','Jeu','Ven','Sam'],
            dayNamesMin: ['Di','Lu','Ma','Me','Je','Ve','Sa'],
            weekHeader: 'Sm',
            dateFormat: 'dd/mm/yy',
            firstDay: 1,
            isRTL: false,
            showMonthAfterYear: false,
            yearSuffix: ''};
        $.datepicker.setDefaults($.datepicker.regional['fr']);

        $('#id_date_creation').datepicker({dateFormat: 'yy-mm-dd', constrainInput: false});
        $('#id_date_validity').datepicker({dateFormat: 'yy-mm-dd', constrainInput: false});
        $('#id_date_start').datepicker({dateFormat: 'yy-mm-dd', constrainInput: false});
        $('#id_date_end').datepicker({dateFormat: 'yy-mm-dd', constrainInput: false});
    });
</script>
