{% load i18n %}

{% block extra_head %}
    <link rel="stylesheet" href="http://leaflet.cloudmade.com/dist/leaflet.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}admintools_bootstrap/css/custom-theme/jquery-ui-1.8.16.custom.css" />
{% endblock %}

<script type="text/javascript" src="{{ STATIC_URL }}themes/pes_auvergne/default/js/forms_utils.js"></script>


<div id="exchanges_top"></div>
<div id="result_exchanges" class="add_form">
    
    {% if mode = 'add' %}
        <h2 class="maj_title">{% trans "Add new exchange" %}</h2>
    {% else %}
        <h2 class="maj_title">{% trans "Modify exchange" %}</h2>
    {% endif %}

    <form action="{{ base_url }}" method="post" class="add_form" enctype="multipart/form-data">{% csrf_token %}

        <div class="bg_form">
            <div class="fieldWrapper">
                {{ form.title.errors }}
                {{ form.title.label_tag }}: {{ form.title }}
            </div>          

            <div class="fieldWrapper">
                {{ form.expiration.errors }}
                {{ form.expiration.label_tag }}: {{ form.expiration }}
            </div>   

            <div class="fieldWrapper">
                {{ form.organization.errors }}
                {{ form.organization.label_tag }}: {{ form.organization }}
            </div>        
            
            <div class="fieldWrapper">
                {{ form.img.errors }}
                {{ form.img.label_tag }}: {{ form.img }}
            </div>

            <div class="fieldWrapper">
                {{ form.eway.errors }}
                {{ form.eway.label_tag }}: {{ form.eway }}
            </div>

            <div class="fieldWrapper">
                {{ form.etype.errors }}
                {{ form.etype.label_tag }}: {{ form.etype }}
            </div>          

            <div class="fieldWrapper">
                {{ form.methods.errors }}
                {{ form.methods.label_tag }}: {{ form.methods }}
            </div>   

            <div class="fieldWrapper">
                {{ form.location.errors }}
                {{ form.location.label_tag }}: {{ form.location }}
            </div>   

<!-- TODO: email de reponse a l annonce -->

            <div class="fieldWrapper">
                {{ form.description.errors }}
                {{ form.description.label_tag }}: {{ form.description }}
            </div>   

<!-- TODO: adresse preferee, code postal, ville -->

            <div class="fieldWrapper">
                {{ form.person.errors }}
                {{ form.person.label_tag }}: {{ form.person }}
            </div>        


<!-- TODO tel prefere-->
<!-- TODO email prefere-->
<!-- TODO site web -->
<!-- TODO site associe -->

            <!-- Doc associés -->
            <h3 class="title_formset">{% trans "Documents" %}</h3>
            <div id="docs" class="fieldWrapper formset">
                {{ doc_form.management_form }}
                {% for d in doc_form.forms %}
                    <div class='table_formset table_doc'>
                        <table class='no_error'>
                            {{ d.as_table }}
                        </table>
                    </div>
                {% endfor %}
                <input type="button" value="{% trans 'Add More' %}" id="add_more_doc">
            </div>


<!-- TODO evenements lies a cette annonce -->
            
            <div class="fieldWrapper">
                {{ form.activity.errors }}
                {{ form.activity.label_tag }}: {{ form.activity }}
            </div>   
            
            <div class="fieldWrapper">
                {{ form.transverse_themes.errors }}
                {{ form.transverse_themes.label_tag }}: {{ form.transverse_themes }}
            </div>   
            
            
            <div class="fieldWrapper">
                {{ form.tags.errors }}
                {{ form.tags.label_tag }}: {{ form.tags }}
            </div>   

<!-- TODO plus value solidaire -->

            {{ form.errors }}
        </div>

        <div class="new_block" id="new_submit">
            {% if mode = 'add' %}
                <input type="submit" value="{% trans "Create" %}" />                
            {% else %}
                <input type="submit" value="{% trans "Modify" %}" />                
            {% endif %}          
        </div>

    </form>
</div>


<script type="text/javascript">
    $(function() {
        $.datepicker.regional['fr'] = {
            closeText: 'Fermer',
            prevText: '&#x3c;Préc',
            nextText: 'Suiv&#x3e;',
            currentText: 'Courant',
            monthNames: ['Janvier','Février','Mars','Avril','Mai','Juin',
            'Juillet','Août','Septembre','Octobre','Novembre','Décembre'],
            monthNamesShort: ['Jan','Fév','Mar','Avr','Mai','Jun',
            'Jul','Aoû','Sep','Oct','Nov','Déc'],
            dayNames: ['Dimanche','Lundi','Mardi','Mercredi','Jeudi','Vendredi','Samedi'],
            dayNamesShort: ['Dim','Lun','Mar','Mer','Jeu','Ven','Sam'],
            dayNamesMin: ['Di','Lu','Ma','Me','Je','Ve','Sa'],
            weekHeader: 'Sm',
            dateFormat: 'dd/mm/yy',
            firstDay: 1,
            isRTL: false,
            showMonthAfterYear: false,
            yearSuffix: ''};
        $.datepicker.setDefaults($.datepicker.regional['fr']);

        $('#id_expiration').datepicker({dateFormat: 'yy-mm-dd', constrainInput: false});

        $('#add_more_doc').click(function() {
            cloneMore('div.table_doc:last', 'doc');
        });
    });
</script>
