{% load i18n %}
 {% load l10n %}

{% block extra_head %}
    <link rel="stylesheet" href="{{ STATIC_URL }}themes/pes_auvergne/default/js/leaflet/leaflet.css" />
{% endblock %}

<script type="text/javascript">
    // We need to set a new class to content element, in order do properly display the form and the other elements
    $('#main-content').addClass("search_form_enabled");
</script>

<div id="exchanges_top_search"></div>
<div id="search_form">
    <form action="{{ base_url }}" method="post">{% csrf_token %}
        <div class="search_column" id="search_column1">
            <div class="search_block checkbox_custom" id="looking_for">
                <span class="search_title">{% trans "I'm looking for" %}</span>
                {{ form.type_exchange }}
            </div>
            <div class="search_block checkbox_custom" id="type">
                <span class="search_title">{% trans "Type" %}</span>
                {{ form.type }}
            </div>
            <div class="search_block" id="search_submit">
                <div id="criteria_option">
                    <a href="javascript:more_criteria();" id="more_criteria" class="exchange_link">{% trans "Display more criteria" %}</a>
                    <a href="javascript:less_criteria();" id="less_criteria" class="exchange_link">{% trans "Display less criteria" %}</a>
                </div>
                <input type="submit" value="{% trans "Search" %}" />                
                <div id="results_block"><span class="nb_results">{{ exchanges.count }}</span> <span class="label_results">{% trans "Results" %}</span></div>
                
            </div>
        </div>
        <div class="search_column" id="search_column2">
            <div class="search_block" id="activity">
                <span class="search_title">{% trans "Activity" %}</span>
                {{ form.activity }}
            </div>
            <div class="search_block" id="thematic">
                <span class="search_title">{% trans "Thematic" %}</span>
                {{ form.thematic }}
            </div>
            <div class="search_block" id="free_search1">
                <span class="search_title">{% trans "Free search" %}</span>
                {{ form.free_search }}
            </div>
            <div class="search_block" id="free_search2">
                <span class="search_title">{% trans "Free search" %}</span>
                {{ form.free_search }}
            </div>
        </div>
        <div class="search_column" id="search_column3">
            <div class="search_block" id="location">
                <span class="search_title">{% trans "Location" %}</span>
                {{ form.location }}
            </div>
            <div class="search_block" id="location_buffer">
                <span class="search_title">{% trans "Location buffer" %}</span>
                {{ form.location_buffer }}
            </div>

        </div>
        <div class="search_column" id="search_column4">
            <div class="search_block checkbox_custom" id="mode">
                <span class="search_title">{% trans "Exchange mode" %}</span>
                {{ form.mode }}
            </div>

            <div class="search_block checkbox_custom" id="skills">
                <span class="search_title">{% trans "If skills" %}</span>
                {{ form.skills }}
            </div>
        </div>
    </form>
</div>


<div id="exchanges_top"></div>
<div id="result_exchanges">

<div class="exchanges_pagination_top">
    <div class="carto"><a href="{{ base_url }}">{% trans "List" %}</a></div>
</div>



    <div id="leaflet_map"></div>
   
    <script src="{{ STATIC_URL }}themes/pes_auvergne/default/js/leaflet/leaflet.js"></script>

    <script type="text/javascript">

        var cloudmadeUrl = 'http://{s}.tile.cloudmade.com/BC9A493B41014CAABB98F0471D759707/997/256/{z}/{x}/{y}.png',
            cloudmadeAttribution = 'Map data &copy; 2011 OpenStreetMap contributors, Imagery &copy; 2011 CloudMade',
            cloudmade = new L.TileLayer(cloudmadeUrl, {maxZoom: 18, attribution: cloudmadeAttribution});

        var centre = new L.LatLng({{ center.y }}, {{ center.x }});
        var map = new L.Map('leaflet_map');
        map.setView(centre, 8).addLayer(cloudmade);

        // Add markers         
        var tab_markers = new Array();
        
        {% for e in exchanges %}
            {% if e.location %}
                tab_markers.push(new L.LatLng({{ e.location.point.y|unlocalize }}, {{ e.location.point.x|unlocalize }}))
                L.marker([{{ e.location.point.y|unlocalize }}, {{ e.location.point.x|unlocalize }}]).addTo(map)
                        .bindPopup('{{ e.title|safe }}<br/><a href="{{ base_url }}p/{{ e.pk }}">{% trans "Read more" %}</a>')
                        .openPopup();
            {% endif %}
        {% endfor %}

        if(tab_markers.length > 0) {
            global_bounds = new L.LatLngBounds(tab_markers);
            map.fitBounds(global_bounds);
            map.zoomOut();
        }

    </script>




<script type="text/javascript">
    $(document).ready(function() {
        {% if mode_criteria == False %}
            less_criteria();
        {% endif %}
    });

    function more_criteria() {
            $('#free_search1').removeClass("search_form_hide");
            $('#thematic').removeClass("search_form_hide");
            $('#mode').removeClass("search_form_hide");
            $('#skills').removeClass("search_form_hide");
            $('#less_criteria').removeClass("search_form_hide");

            $('#free_search2').addClass("search_form_hide");
            $('#more_criteria').addClass("search_form_hide");
    }
    function less_criteria() {
            $('#free_search1').addClass("search_form_hide");
            $('#thematic').addClass("search_form_hide");
            $('#mode').addClass("search_form_hide");
            $('#skills').addClass("search_form_hide");
            $('#less_criteria').addClass("search_form_hide");

            $('#free_search2').removeClass("search_form_hide");
            $('#more_criteria').removeClass("search_form_hide");
    }
</script>


</div>



