{% load i18n %}
 {% load l10n %}

{% block extra_head %}
    <link rel="stylesheet" href="{{ STATIC_URL }}themes/pes_auvergne/default/js/leaflet/leaflet.css" />
{% endblock %}

<script type="text/javascript">
    // We need to set a new class to content element, in order do properly display the form and the other elements
    $('#main-content').addClass("search_form_enabled");
</script>

<div id="exchanges_top_search"></div>
<div id="search_form">

    {% include search_form_template %}

</div>


<div id="exchanges_top"></div>
<div id="result_exchanges">

<div class="exchanges_pagination_top pagination_top">
    <div class="carto"><a href="javascript:submitForm('{{ base_url }}')">{% trans "List" %}</a></div>
</div>



    <div id="leaflet_map"></div>
   
    <script src="{{ STATIC_URL }}themes/pes_auvergne/default/js/leaflet/leaflet.js"></script>

    <script type="text/javascript">

        var cloudmadeUrl = 'http://{s}.tile.cloudmade.com/BC9A493B41014CAABB98F0471D759707/997/256/{z}/{x}/{y}.png',
            cloudmadeAttribution = 'Map data &copy; 2011 OpenStreetMap contributors, Imagery &copy; 2011 CloudMade',
            cloudmade = new L.TileLayer(cloudmadeUrl, {maxZoom: 18, attribution: cloudmadeAttribution});

        var centre = new L.LatLng({{ center.y }}, {{ center.x }});
        var map = new L.Map('leaflet_map');
        map.setView(centre, 8).addLayer(cloudmade);

        // Add markers         
        var tab_markers = new Array();
        
        {% for e in exchanges %}
            {% if e.location %}
                tab_markers.push(new L.LatLng({{ e.location.point.y|unlocalize }}, {{ e.location.point.x|unlocalize }}))
                L.marker([{{ e.location.point.y|unlocalize }}, {{ e.location.point.x|unlocalize }}]).addTo(map)
                        .bindPopup("{{ e.title|safe }}<br/><a href=\"{{ base_url }}p/{{ e.pk }}\">{% trans "Read more" %}</a>")
                        .openPopup();
            {% endif %}
        {% endfor %}

        if(tab_markers.length > 0) {
            global_bounds = new L.LatLngBounds(tab_markers);
            map.fitBounds(global_bounds);
            map.zoomOut();
        }

    </script>





</div>



<script type="text/javascript">
    function submitForm(url) {
        document.forms["search_form"].action = url;
        document.forms["search_form"].submit();
    }

</script>
