{% load i18n thumbnail %}

<div id="account_top"></div>
<div id="coop_account">
    <h2 class="title">{% trans "Account" %}</h2>
        <div class="coop_account">

        </div>

        <h3>{% trans "My organizations" %}</h3>
        <ul>
        {% for o in org %}
            <li><a href="/annuaire/p/{{ o.pk }}">{{ o.title }}</a> - <a href="/annuaire/p/member_edit/{{ o.pk }}">{% trans 'Edit' %}</a></li>
        {% endfor %}
        </ul>

        <a href="{{ base_url }}p/logout">{% trans "Logout" %}</a>
</div>

