{% load i18n thumbnail %}


<div id="coop_account">
    <div id="login_form">
        <form action="{{ base_url }}" method="post">{% csrf_token %}
                <div class="add_form" id="login">
                    <label class="login">{% trans "Login" %} : </label>
                    <input type="text" id="username" name="username">
                </div>
                <div class="add_form" id="password">
                    <label class="login">{% trans "Password" %} : </label>
                    <input type="password" id="password" name="password">
                </div>

                <div class="new_block" id="new_submit">
                    <input type="submit" value="{% trans "Login" %}" />                
                </div>
        </form>
    </div>

    <p>{% trans "No account ?" %} <a href="/mon-compte/p/register">{% trans "Create one" %}</a></p>
</div>