{% load i18n thumbnail %}


<div id="coop_account">
<div id="login_form">
    <form action="{{ base_url }}" method="post">{% csrf_token %}
            <div class="" id="activity">
                <span class="login">{% trans "Login" %}</span>
                <input type="text" id="username" name="username">
            </div>
            <div class="" id="organization">
                <span class="login">{% trans "Password" %}</span>
                <input type="password" id="password" name="password">
            </div>

            <div class="" id="login_submit">
                <input type="submit" value="{% trans "Login" %}" />
            </div>

    </form>
</div>
</div>