{% load i18n %}

{% block extra_head %}
    <link rel="stylesheet" href="http://leaflet.cloudmade.com/dist/leaflet.css" />
{% endblock %}

<div id="members_top"></div>
<div id="members">
    <h2 class="maj_title">{% trans "Add new member" %}</h2>

    <form action="{{ base_url }}" method="post" class="add_form">{% csrf_token %}

        <div class="bg_form">

            <div class="fieldWrapper">
                {{ form.eway.errors }}
                {{ form.eway.label_tag }}: {{ form.eway }}
            </div>



            {{ form.errors }}
        </div>

        <div class="new_block" id="new_submit">
            <input type="submit" value="{% trans "Create" %}" />                
        </div>

    </form>
</div>


<script type="text/javascript">
    $(function() {
        $.datepicker.regional['fr'] = {
            closeText: 'Fermer',
            prevText: '&#x3c;Préc',
            nextText: 'Suiv&#x3e;',
            currentText: 'Courant',
            monthNames: ['Janvier','Février','Mars','Avril','Mai','Juin',
            'Juillet','Août','Septembre','Octobre','Novembre','Décembre'],
            monthNamesShort: ['Jan','Fév','Mar','Avr','Mai','Jun',
            'Jul','Aoû','Sep','Oct','Nov','Déc'],
            dayNames: ['Dimanche','Lundi','Mardi','Mercredi','Jeudi','Vendredi','Samedi'],
            dayNamesShort: ['Dim','Lun','Mar','Mer','Jeu','Ven','Sam'],
            dayNamesMin: ['Di','Lu','Ma','Me','Je','Ve','Sa'],
            weekHeader: 'Sm',
            dateFormat: 'dd/mm/yy',
            firstDay: 1,
            isRTL: false,
            showMonthAfterYear: false,
            yearSuffix: ''};
        $.datepicker.setDefaults($.datepicker.regional['fr']);

        $('#id_date_creation').datepicker({dateFormat: 'yy-mm-dd', constrainInput: false});
        $('#id_date_validity').datepicker({dateFormat: 'yy-mm-dd', constrainInput: false});
        $('#id_date_start').datepicker({dateFormat: 'yy-mm-dd', constrainInput: false});
        $('#id_date_end').datepicker({dateFormat: 'yy-mm-dd', constrainInput: false});
    });
</script>
