{% load i18n %}

<script type="text/javascript" src="/_tinymce/compressor/"></script>
<script type="text/javascript" src="{{ STATIC_URL }}themes/pes_auvergne/default/js/forms_utils.js"></script>

<script type="text/javascript" src="{{ STATIC_URL }}tagger/js/jquery.autoSuggest.minified.js"></script>


<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}admintools_bootstrap/css/custom-theme/jquery-ui-1.8.16.custom.css" />



<div id="members_top"></div>
<div id="members" class="add_form">
    {% if mode = 'add' %}
        <h2 class="maj_title">{% trans "Add new member" %}</h2>
    {% else %}
        <h2 class="maj_title">{% trans "Modify member" %}</h2>
    {% endif %}




    <form action="{{ base_url }}" method="post" class="add_form" enctype="multipart/form-data">{% csrf_token %}

    <div id="tabs">
        <ul>
            <li><a href="#tabs-1">{% trans "Simple" %}</a></li>
            <li><a href="#tabs-2">{% trans "Detailed" %}</a></li>
        </ul>
        <div id="tabs-1">
<!--         <div class="bg_form"> -->
            <div class="fieldWrapper">
                {{ form.title.errors  }}
                {{ form.title.label_tag }}: {{ form.title }}
            </div>

            <div class="fieldWrapper">
                {{ form.acronym.errors  }}
                {{ form.acronym.label_tag }}: {{ form.acronym }}
            </div>

            <div class="fieldWrapper">
                {{ form.pref_label.errors  }}
                {{ form.pref_label.label_tag }}: {{ form.pref_label }}
            </div>

            <div class="fieldWrapper">
                {{ form.birth.errors  }}
                {{ form.birth.label_tag }}: {{ form.birth }}
            </div>

            <div class="fieldWrapper">
                {{ form.legal_status.errors  }}
                {{ form.legal_status.label_tag }}: {{ form.legal_status }}
            </div>

            <div class="fieldWrapper">
                {{ form.short_description.errors  }}
                {{ form.short_description.label_tag }}: {{ form.short_description }}
            </div>

            <!--  liste produits et services            -->
            <h3 class="title_formset">{% trans "Products and services" %}</h3>
            <div id="offer" class="fieldWrapper formset">
                {{ offer_form.management_form }}
                {% for d in offer_form.forms %}
                    <div class='table_formset table_offer'>
                        <table class='no_error'>
                            {{ d.as_table }}
                        </table>
                    </div>
                {% endfor %}
                <input type="button" value="{% trans 'Add More' %}" id="add_more_offer">
            </div>

            <div class="fieldWrapper">
                {{ form.description.errors  }}
                {{ form.description.label_tag }}: {{ form.description }}
            </div>

            <div class="fieldWrapper">
                {{ form.description2.errors  }}
                {{ form.description2.label_tag }}: {{ form.description2 }}
            </div>

            <h3 class="title_formset">{% trans "Locations" %}</h3>
            <div id="contact" class="fieldWrapper formset">
                {{ located_form.management_form }}
                {% for d in located_form.forms %}
                    <div class='table_formset table_located'>
                        <table class='no_error'>
                            {{ d.as_table }}
                        </table>
                    </div>
                {% endfor %}
                <input type="button" value="{% trans 'Add More' %}" id="add_more_located">
            </div>

            <div class="fieldWrapper">
                {{ form.pref_address.errors  }}
                {{ form.pref_address.label_tag }}: {{ form.pref_address }}
            </div>



            <div class="fieldWrapper">
                {{ form.pref_email.errors  }}
                {{ form.pref_email.label_tag }}: {{ form.pref_email }}
            </div>

            <div class="fieldWrapper">
                {{ form.web.errors  }}
                {{ form.web.label_tag }}: {{ form.web }}
            </div>

            <!-- Doc associés -->
            <h3 class="title_formset">{% trans "Documents" %}</h3>
            <div id="docs" class="fieldWrapper formset">
                {{ doc_form.management_form }}
                {% for d in doc_form.forms %}
                    <div class='table_formset table_doc'>
                        <table class='no_error'>
                            {{ d.as_table }}
                        </table>
                    </div>
                {% endfor %}
                <input type="button" value="{% trans 'Add More' %}" id="add_more_doc">
            </div>
            

            <div class="fieldWrapper">
                {{ form.crowdfunding.errors  }}
                <label for="id_crowdfunding">{% trans "Crowdfunding link" %}</label>: {{ form.crowdfunding }}
            </div>

            <!--<div class="fieldWrapper">
                {{ form.activity.errors  }}
                {{ form.activity.label_tag }}: {{ form.activity }}
            </div>-->

            <div class="fieldWrapper">
                {{ form.transverse_themes.errors  }}
                {{ form.transverse_themes.label_tag }}: {{ form.transverse_themes }}
            </div>


            <div class="fieldWrapper">
                {{ form.logo.errors  }}
                {{ form.logo.label_tag }}: {{ form.logo }}
            </div>

            <div class="fieldWrapper">
                {{ form.tags.errors  }}
                {{ form.tags.label_tag }}: {{ form.tags }}
            </div>
<!--         </div> -->
        </div>
        <div id="tabs-2">
<!--         <div class="bg_form"> -->
            <div class="fieldWrapper">
                {{ form.category.errors  }}
                {{ form.category.label_tag }}: {{ form.category }}
            </div>

            <!--  TODO: membre à contact préféré            -->

            <div class="fieldWrapper">
                {{ form.pref_phone.errors  }}
                {{ form.pref_phone.label_tag }}: {{ form.pref_phone }}
            </div>

            <div class="fieldWrapper">
                {{ form.guaranties.errors  }}
                {{ form.guaranties.label_tag }}: {{ form.guaranties }}
            </div>

            <!-- TODO plus value solidaire -->

            <h3 class="title_formset">{% trans "Relationship" %}</h3>
            <div id="rel" class="fieldWrapper formset">
                {{ rel_form.management_form }}
                {% for d in rel_form.forms %}
                    <div class='table_formset table_eng'>
                        <table class='no_error'>
                            {{ d.as_table }}
                        </table>
                    </div>
                {% endfor %}
                <input type="button" value="{% trans 'Add More' %}" id="add_more_rel">
            </div>

            <div class="fieldWrapper">
                {{ form.annual_revenue.errors  }}
                {{ form.annual_revenue.label_tag }}: {{ form.annual_revenue }}
            </div>

            <div class="fieldWrapper">
                {{ form.workforce.errors  }}
                {{ form.workforce.label_tag }}: {{ form.workforce }}
            </div>

            <!--TODO  "Pour chaque contact : 
            medium 
            Contenu"-->
            <!-- Détail -->
            <!-- Lieu associé -->
            <!-- Affichage (liste ; choix unique) -->
            <h3 class="title_formset">{% trans "Contact" %}</h3>
            <div id="contact" class="fieldWrapper formset">
                {{ contact_form.management_form }}
                {% for d in contact_form.forms %}
                    <div class='table_formset table_contact'>
                        <table class='no_error'>
                            {{ d.as_table }}
                        </table>
                    </div>
                {% endfor %}
                <input type="button" value="{% trans 'Add More' %}" id="add_more_contact">
            </div>

            <!-- Membres             -->
            <h3 class="title_formset">{% trans "Engagement" %}</h3>
            <div id="eng" class="fieldWrapper formset">
                {{ engagement_form.management_form }}
                {% for d in engagement_form.forms %}
                    <div class='table_formset table_eng'>
                        <table class='no_error'>
                            {{ d.as_table }}
                        </table>
                    </div>
                {% endfor %}
                <input type="button" value="{% trans 'Add More' %}" id="add_more_eng">
            </div>

            <!--  Standby            -->
<!--            <h3>{% trans "References" %}</h3>
            <div id="refs" class="fieldWrapper formset">
                {{ reference_form.management_form }}
                {% for d in reference_form.forms %}
                    <div class='table_formset table_ref'>
                        <table class='no_error'>
                            {{ d.as_table }}
                        </table>
                    </div>
                {% endfor %}
                <input type="button" value="{% trans 'Add More' %}" id="add_more_ref">
            </div>-->

            <div class="fieldWrapper">
                {{ form.siret.errors  }}
                {{ form.siret.label_tag }}: {{ form.siret }}
            </div>

            <div class="fieldWrapper">
                {{ form.notes.errors  }}
                {{ form.notes.label_tag }}: {{ form.notes }}
            </div>

<!--            <div class="fieldWrapper">
                {{ form.testimony.errors  }}
                {{ form.testimony.label_tag }}: {{ form.testimony }}
            </div>-->
<!--         </div> -->
        </div>
    </div>



            <div class="fieldWrapper">
                {{ form.status.errors  }}
                {{ form.status.label_tag }}: {{ form.status }}
            </div>


                          
        {{ form.errors }}


        <div class="new_block" id="new_submit">
            {% if mode = 'add' %}
                <input type="submit" value="{% trans "Create" %}" />                
            {% else %}
                <input type="submit" value="{% trans "Modify" %}" />                
            {% endif %}          
             
        </div>

    </form>
</div>


<script type="text/javascript">
    $(function() {
        $.datepicker.regional['fr'] = {
            closeText: 'Fermer',
            prevText: '&#x3c;Préc',
            nextText: 'Suiv&#x3e;',
            currentText: 'Courant',
            monthNames: ['Janvier','Février','Mars','Avril','Mai','Juin',
            'Juillet','Août','Septembre','Octobre','Novembre','Décembre'],
            monthNamesShort: ['Jan','Fév','Mar','Avr','Mai','Jun',
            'Jul','Aoû','Sep','Oct','Nov','Déc'],
            dayNames: ['Dimanche','Lundi','Mardi','Mercredi','Jeudi','Vendredi','Samedi'],
            dayNamesShort: ['Dim','Lun','Mar','Mer','Jeu','Ven','Sam'],
            dayNamesMin: ['Di','Lu','Ma','Me','Je','Ve','Sa'],
            weekHeader: 'Sm',
            dateFormat: 'dd/mm/yy',
            firstDay: 1,
            isRTL: false,
            showMonthAfterYear: false,
            yearSuffix: ''};
        $.datepicker.setDefaults($.datepicker.regional['fr']);

        $('#id_birth').datepicker({dateFormat: 'yy-mm-dd', constrainInput: false});
        $('#id_date_validity').datepicker({dateFormat: 'yy-mm-dd', constrainInput: false});
        $('#id_date_start').datepicker({dateFormat: 'yy-mm-dd', constrainInput: false});
        $('#id_date_end').datepicker({dateFormat: 'yy-mm-dd', constrainInput: false});

        tinyMCE.init({selector:'textarea'});
        tinyMCE_GZ.init({"themes": "advanced", "languages": "fr", "debug": false, "diskcache": true, "plugins": "table,spellchecker,filemanager,paste,searchreplace,inlinepopups"})


        $('#add_more_doc').click(function() {
            cloneMore('div.table_doc:last', 'doc');
        });
        $('#add_more_offer').click(function() {
            cloneMore('div.table_offer:last', 'offer');
        });
        $('#add_more_ref').click(function() {
            cloneMore('div.table_ref:last', 'ref');
        });
        $('#add_more_eng').click(function() {
            cloneMore('div.table_eng:last', 'eng');
        });
        $('#add_more_rel').click(function() {
            cloneMore('div.table_rel:last', 'rel');
        });
        $('#add_more_contact').click(function() {
            cloneMore('div.table_contact:last', 'contact');
        });
        $('#add_more_located').click(function() {
            cloneMore('div.table_located:last', 'located');
        });

        $( "#tabs" ).tabs();


//         var data = {items: [
//         {value: "21", name: "Mick Jagger"},
//         {value: "43", name: "Johnny Storm"},
//         {value: "46", name: "Richard Hatch"},
//         {value: "54", name: "Kelly Slater"},
//         {value: "55", name: "Rudy Hamilton"},
//         {value: "79", name: "Michael Jordan"}
//         ]};
//         $("#id_tags").autoSuggest(data);
//         $("input[type=text]").autoSuggest("http://mysite.com/path/to/script", {minChars: 2, matchCase: true});


//         tags_as_string = $('#id_tags').val();
//         $("#id_tags__tagautosuggest").autoSuggest("/list/", {
//             asHtmlID: "id_tags__tagautosuggest",
//             startText: "Entrez vos tags ici",
//             emptyText: "Aucun résultat",
//             limitText: "Vous ne pouvez pas faire plus de sélection",
//             preFill: tags_as_string,
//             queryParam: 'q',
//             retrieveLimit: 20,
//             minChars: 1,
//             neverSubmit: true
//         });
// 
//         $('#id_tags').parents().find('form').submit(function (){
//             tags_as_string = $("#as-values-id_tags__tagautosuggest").val();
//             $("#id_tags__tagautosuggest").remove();
//             $("#id_tags").val(tags_as_string);
//         });


        // Sample: Move the paragraph from #myDiv1 to #myDiv2
        //$('#myDiv2').append( $('#myDiv1>p') );

    });


</script>



