{% load i18n %}

<div id="members_top"></div>
<div id="members" class="add_form">
    <h2 class="maj_title">{% trans "Add new member" %}</h2>

    <form action="{{ base_url }}" method="post" class="add_form" enctype="multipart/form-data">{% csrf_token %}

        <div class="bg_form">

            <div class="fieldWrapper">
                {{ form.title.errors  }}
                {{ form.title.label_tag }}: {{ form.title }}
            </div>

            <div class="fieldWrapper">
                {{ form.acronym.errors  }}
                {{ form.acronym.label_tag }}: {{ form.acronym }}
            </div>

            <div class="fieldWrapper">
                {{ form.pref_label.errors  }}
                {{ form.pref_label.label_tag }}: {{ form.pref_label }}
            </div>

            <div class="fieldWrapper">
                {{ form.subtitle.errors  }}
                {{ form.subtitle.label_tag }}: {{ form.subtitle }}
            </div>

            <div class="fieldWrapper">
                {{ form.description.errors  }}
                {{ form.description.label_tag }}: {{ form.description }}
            </div>

            <div class="fieldWrapper">
                {{ form.logo.errors  }}
                {{ form.logo.label_tag }}: {{ form.logo }}
            </div>

            <div class="fieldWrapper">
                {{ form.birth.errors  }}
                {{ form.birth.label_tag }}: {{ form.birth }}
            </div>

            <div class="fieldWrapper">
                {{ form.email.errors  }}
                {{ form.email.label_tag }}: {{ form.email }}
            </div>

            <div class="fieldWrapper">
                {{ form.email_sha1.errors  }}
                {{ form.email_sha1.label_tag }}: {{ form.email_sha1 }}
            </div>
            
            <div class="fieldWrapper">
                {{ form.web.errors  }}
                {{ form.web.label_tag }}: {{ form.web }}
            </div>

            <div class="fieldWrapper">
                {{ form.pref_email.errors  }}
                {{ form.pref_email.label_tag }}: {{ form.pref_email }}
            </div>

            <div class="fieldWrapper">
                {{ form.pref_phone.errors  }}
                {{ form.pref_phone.label_tag }}: {{ form.pref_phone }}
            </div>

            <div class="fieldWrapper">
                {{ form.pref_address.errors  }}
                {{ form.pref_address.label_tag }}: {{ form.pref_address }}
            </div>

            <div class="fieldWrapper">
                {{ form.slug.errors  }}
                {{ form.slug.label_tag }}: {{ form.slug }}
            </div>

            <div class="fieldWrapper">
                {{ form.notes.errors  }}
                {{ form.notes.label_tag }}: {{ form.notes }}
            </div>

            <div class="fieldWrapper">
                {{ form.activity.errors  }}
                {{ form.activity.label_tag }}: {{ form.activity }}
            </div>
                          
            <div class="fieldWrapper">
                {{ form.transverse_themes.errors  }}
                {{ form.transverse_themes.label_tag }}: {{ form.transverse_themes }}
            </div>

            {{ form.errors }}
        </div>

        <div class="new_block" id="new_submit">
            <input type="submit" value="{% trans "Create" %}" />                
        </div>

    </form>
</div>


<script type="text/javascript">
    $(function() {
        $.datepicker.regional['fr'] = {
            closeText: 'Fermer',
            prevText: '&#x3c;Préc',
            nextText: 'Suiv&#x3e;',
            currentText: 'Courant',
            monthNames: ['Janvier','Février','Mars','Avril','Mai','Juin',
            'Juillet','Août','Septembre','Octobre','Novembre','Décembre'],
            monthNamesShort: ['Jan','Fév','Mar','Avr','Mai','Jun',
            'Jul','Aoû','Sep','Oct','Nov','Déc'],
            dayNames: ['Dimanche','Lundi','Mardi','Mercredi','Jeudi','Vendredi','Samedi'],
            dayNamesShort: ['Dim','Lun','Mar','Mer','Jeu','Ven','Sam'],
            dayNamesMin: ['Di','Lu','Ma','Me','Je','Ve','Sa'],
            weekHeader: 'Sm',
            dateFormat: 'dd/mm/yy',
            firstDay: 1,
            isRTL: false,
            showMonthAfterYear: false,
            yearSuffix: ''};
        $.datepicker.setDefaults($.datepicker.regional['fr']);

        $('#id_date_creation').datepicker({dateFormat: 'yy-mm-dd', constrainInput: false});
        $('#id_date_validity').datepicker({dateFormat: 'yy-mm-dd', constrainInput: false});
        $('#id_date_start').datepicker({dateFormat: 'yy-mm-dd', constrainInput: false});
        $('#id_date_end').datepicker({dateFormat: 'yy-mm-dd', constrainInput: false});
    });
</script>
