{% load i18n %}

<div id="members_top"></div>
<div id="members">
    <div class="member member_detail">
    {% if is_project %}
        {% if mode = 'add' %}
            <h1>{% trans "Project added" %}</h1>
            <p>{% trans "Project added. You may now consult it in the list" %}.<p>
        {% else %}
            <h1>{% trans "Project modified" %}</h1>
            <p>{% trans "Project modified. You may now consult it in the list" %}.<p>
        {% endif %}
    {% else %}
        {% if mode = 'add' %}
            <h1>{% trans "Member added" %}</h1>
            <p>{% trans "Member added. You may now consult it in the list" %}.<p>
        {% else %}
            <h1>{% trans "Member modified" %}</h1>
            <p>{% trans "Member modified. You may now consult it in the list" %}.<p>
        {% endif %}
    {% endif %}
        <a href="{{ base_url }}p/member_edit/{{ member_id }}" class="member_link">{% trans "Back to form" %}</a> - <a href="{{ base_url }}p/{{ member_id }}" class="member_link">{% trans "See the detail" %}</a> - <a href="{{ base_url }}" class="member_link">{% if is_project %}{% trans "Project list" %}{% else %}{% trans "Member list" %}{% endif %}</a>
    </div>
</div>

