{% load i18n %}
 {% load l10n %}

{% block extra_head %}
    <link rel="stylesheet" href="{{ STATIC_URL }}themes/pes_auvergne/default/js/leaflet/leaflet.css" />
{% endblock %}


{% if search_form %}

<script type="text/javascript">
    // We need to set a new class to content element, in order do properly display the form and the other elements
    $('#main-content').addClass("search_form_enabled_member");
</script>

<div id="members_top_search"></div>
<div id="search_form">
    <form action="{{ base_url }}" method="post">{% csrf_token %}
        <div class="search_column" id="search_column1">
            <div class="search_block" id="looking_for">
                <span class="search_title">{% trans "Activity" %}</span>
                {{ form.activity }}
            </div>
            <div class="search_block" id="looking_for2">
                {{ form.activity2 }}
            </div>
            <div class="search_block" id="free_search">
                <span class="search_title">{% trans "Free search" %}</span>
                {{ form.free_search }}
            </div>
        </div>
        <div class="search_column" id="search_column2">
            <div class="search_block" id="statut">
                <span class="search_title">{% trans "Statut" %}</span>
                {{ form.statut }}
            </div>
        </div>
        <div class="search_column" id="search_column3">
            <div class="search_block" id="location">
                <span class="search_title">{% trans "Location" %}</span>
                {{ form.location }}
            </div>
            <div class="search_block" id="location">
                <span class="search_title">{% trans "Location buffer" %}</span>
                {{ form.location_buffer }}
            </div>
        </div>
        <div class="search_column" id="search_column4">
            <div class="search_block" id="thematic">
                <span class="search_title">{% trans "Thematic" %}</span>
                {{ form.thematic }}
            </div>
            <div class="search_block" id="thematic2">
                {{ form.thematic2 }}
            </div>
            <div class="search_block" id="thematic3">
                {{ form.thematic3 }}
            </div>
        </div>

        <div id="search_bottom">
            <div class="search_block" id="search_submit">
                <input type="submit" value="{% trans "Search" %}" />
                <!--<div id="results_block"><span class="nb_results">{{ members.count }}</span> <span class="label_results">{% trans "Results" %}</span></div>-->
            </div>
        </div>
    </form>
</div>
{% endif %}


<div id="members_top"></div>
<div id="members">

<div class="members_pagination_top pagination_top">
    <div class="carto"><a href="{{ base_url }}">{% trans "List" %}</a></div>
</div>


    <div id="leaflet_map"></div>
   
    <script src="{{ STATIC_URL }}themes/pes_auvergne/default/js/leaflet/leaflet.js"></script>

    <script type="text/javascript">

        var cloudmadeUrl = 'http://{s}.tile.cloudmade.com/BC9A493B41014CAABB98F0471D759707/997/256/{z}/{x}/{y}.png',
            cloudmadeAttribution = 'Map data &copy; 2011 OpenStreetMap contributors, Imagery &copy; 2011 CloudMade',
            cloudmade = new L.TileLayer(cloudmadeUrl, {maxZoom: 18, attribution: cloudmadeAttribution});

        var centre = new L.LatLng({{ center.y }}, {{ center.x }});
        var map = new L.Map('leaflet_map');
        map.setView(centre, 8).addLayer(cloudmade);

        // Add markers         
        var tab_markers = new Array();
        
        {% for m in members %}
            {% if m.located %}
                {% for l in m.located.all %}
                    tab_markers.push(new L.LatLng({{ l.location.point.y|unlocalize }}, {{ l.location.point.x|unlocalize }}))
                    L.marker([{{ l.location.point.y|unlocalize }}, {{ l.location.point.x|unlocalize }}]).addTo(map)
                            .bindPopup('{{ m.title|safe }}<br/><a href="{{ base_url }}p/{{ m.pk }}">{% trans "Read more" %}</a>')
                            .openPopup();
                {% endfor %}
            {% endif %}
        {% endfor %}

        if(tab_markers.length > 0) {
            global_bounds = new L.LatLngBounds(tab_markers);
            map.fitBounds(global_bounds);
            map.zoomOut();
        }

    </script>

</div>



